{% extends "base.html" %}
{% load static %}
{% block content %}
<br>

<section class="bg-img1 txt-center p-lr-15 p-tb-92 text-center" >
  <h2 class="ltext-105 cl0 txt-center">
    Customers
  </h2>
</section>	

<style>
  .table-container {
    margin: auto 50px ;
    width: 90%;
    overflow-x: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  th, td {
    padding: 12px 15px;
  }

  th {
    background-color: #00B98E;
    color: #ffffff;
 
  }

  tr {
    border-bottom: 1px solid #dddddd;
  }

  tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  tr:last-of-type {
    border-bottom: 2px solid #b0b435;
  }

  tr:hover {
    background-color: #f1f1f1;
  }

  @media (max-width: 600px) {
    table {
      border: 0;
    }

    table caption {
      font-size: 1.3em;
    }

    table thead {
      display: none;
    }

    table tr {
      display: block;
      margin-bottom: .625em;
    }

    table td {
      display: block;
      text-align: right;
      font-size: .8em;
      border-bottom: 1px solid #dddddd;
    }

    table td::before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }

    table td:last-child {
      border-bottom: 0;
    }
  }
</style>

<div class="table-container">
  {% include "messages.html" %}
  <table>
    <thead>
      <tr>
        <th>No</th>
        <th>Username</th>
        <th>Feedback</th>
        <th>Remove</th>
   
      </tr>
    </thead>
    <tbody>
      {% for feed in feedback %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{feed.user.username}}</td>
        <td>{{feed.message}}</td>
        <td class="column-5"><a href="{% url "delete_feedback" feed.id  %}" class="btn btn-danger">Delete</a></td>

        
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
